/* <style> */
@font-face {
	font-family: "Outfit";
	src: local(Outfit);
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	background-color: hsl(212, 45%, 89%);
}
#qrCodeComponent {
	background-color: white;
	text-align: center;
	font-family: "Outfit";
}
#qrCodeComponent h1 {
	color: hsl(218, 44%, 22%);
}
#qrCodeComponent p {
	color: hsl(220, 15%, 55%);
}
/* </style> */
