/* <style> */
/* outfit-regular - latin */
@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("fonts/outfit-v4-latin-regular.woff2") format("woff2"),
		url("fonts/outfit-v4-latin-regular.woff") format("woff");
}
/* outfit-700 - latin */
@font-face {
	font-family: "Outfit";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("fonts/outfit-v4-latin-700.woff2") format("woff2"),
		url("fonts/outfit-v4-latin-700.woff") format("woff");
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

body {
	background-color: hsl(212, 45%, 89%);
}

.container {
	display: flex;
	/* Viewport sizes!!! vh and vw */
	height: 97vh;
	width: 99vw;
}
#qrCodeComponent {
	background-color: white;
	text-align: center;
	border-radius: 20px;
	width: 285px;
	padding: 15px;
	/* Centering */
	/* Horizontal */
	margin: auto;
	/* Vertical - needs container with flex! */
	align-self: center;
}
#qrCodeComponent h2 {
	font-family: "Outfit";
	color: hsl(218, 44%, 22%);
}
#qrCodeComponent p {
	color: hsl(220, 15%, 55%);
	font-family: "Outfit";
	font-size: 15px;
}
#qrCodeComponent img {
	border-radius: 15px;
	max-height: 100%;
	max-width: 100%;
}
/* </style> */
